.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Change from none to flex */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: visible; /* Add visibility */

    transition: opacity 0.3s ease; /* Add smooth transition */
}



.modal {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
    width: 60em;
    max-width: 90%;
}
.modal button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeBtn {
    background-color: #f44336;
    color: white;
}

.close-btn:hover {
    background-color: #d32f2f;
}

