header{
    position: sticky;
    
    top: 0;
    height: 5%;

}
nav{
    display: flex;
    background-color: burlywood; 
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: .9em 0;
    

    box-shadow: 0rem .2rem .2rem black;

}   
a{
    text-decoration: none; 
    color: black; 
    padding: 0.5em 3em; 
    
}

*{
    box-sizing: border-box;
}