
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#root{
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%; 
    background-image: url("https://i.pinimg.com/736x/36/a0/85/36a085785eabcc6add04d35e8c97be37.jpg");
    /* background-image: url("https://img.freepik.com/premium-vector/book-repeating-red-pattern-abstract-beautiful-vector-illustration_90697-1903.jpg?w=740"); */

    background-repeat: repeat;
    position: relative;
    overflow: auto;
    margin: 0;

    
}

.content {
    flex: 1; /* Content fills the remaining vertical space within the container */
    display: flex;
    flex-direction: column;
  }